@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* ################ Default ################ */
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(260, 8%, 14%);
  line-height: 1.14;
}

p {
  color: hsl(0, 0%, 63%);
  line-height: 1.7;
}

a {
  text-decoration: none;
}

/* ################ Utility Classes ################ */
.container {
  max-width: 1100px;
  margin-inline: auto;
}

.gray-text {
  color: hsl(0, 0%, 75%);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.section-padding {
  padding-inline: min(8vw, 3em);
}

.btn {
  display: inline-block;
  border-radius: 1.5em;
  padding-block: 0.7em;
  padding-inline: 2em;
  text-align: center;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.primary-btn {
  background-color: hsl(180, 66%, 49%);
  color: white !important;
}

.primary-btn:hover {
  background-color: hsl(180, 66%, 70%);
}

/* ################header################ */
header {
  height: 130px;
  position: relative;
  z-index: 9999;
}
header .container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/* ################nav################ */
#toggle-button {
  outline: 0;
  border: 0;
  background: none;
  width: 35px;
  aspect-ratio: 1;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140% 190%;
}

#navList {
  position: absolute;
  top: 80%;
  left: 7%;
  right: 7%;
  background-color: hsl(257, 27%, 26%);
  border-radius: 10px;
  padding-block: 2em;
  padding-inline: 1.4em;
  flex-direction: column;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}
#navList li {
  text-align: center;
}
#navList .filler {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  margin-block: 1em;
}
#navList a {
  display: block;
  color: white;
  padding-block: 0.8em;
  font-weight: 700;
  font-size: 1em;
}
#navList .btn {
  padding: 0.5em;
}

#navList[data-visible=false] {
  opacity: 0;
  pointer-events: none;
}

/* ################ main, footer ################ */
main,
footer {
  text-align: center;
}

/* ################ intro ################ */
#intro {
  -webkit-padding-after: 4em;
          padding-block-end: 4em;
}
#intro .content {
  margin-top: 1.5em;
}
#intro .content .btn {
  margin-top: 1.6em;
}
#intro h1 {
  font-size: 2.3em;
  height: -moz-min-content;
  height: min-content;
  margin-bottom: 0.3em;
}
#intro p {
  max-width: 500px;
}
#intro img {
  max-width: 150%;
}

/* ################ advanced statistics ################ */
#features {
  padding-block: 4em;
  background-color: hsl(0, 0%, 95%);
}
#features .top {
  margin-bottom: 6em;
}
#features .top p {
  font-size: 0.9em;
  max-width: 450px;
  margin-inline: auto;
}
#features h2 {
  margin-bottom: 0.7em;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;
}
#cards .line {
  position: absolute;
  height: 100%;
  width: 8px;
  left: calc(50% - 4px);
  background-color: hsl(180, 66%, 49%);
}

.card {
  background: white;
  -webkit-padding-before: 4em;
          padding-block-start: 4em;
  -webkit-padding-after: 2em;
          padding-block-end: 2em;
  padding-inline: 1.5em;
  border-radius: 0.4em;
  position: relative;
}
.card .icon {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  background-color: hsl(257, 27%, 26%);
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.card .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card h3 {
  margin-bottom: 1em;
}
.card p {
  font-size: 0.8em;
}

/* ################ boost section ################ */
#boost {
  background-color: hsl(257, 27%, 26%);
  background-image: url("../images/bg-boost-mobile.svg");
  background-size: 100% 100%;
  padding-block: 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
#boost h2 {
  color: white;
  font-size: 1.5em;
}

/* ################ footer ################ */
footer {
  background-color: hsl(0, 0%, 10%);
  color: white;
  padding-block: 4em;
}
footer .logo img {
  filter: brightness(10);
}
footer .lists {
  margin-block: 2em;
  flex-direction: column;
  gap: 2em;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
footer .socials a:hover img {
  filter: sepia() saturate(100000%) hue-rotate(90deg);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.footer-list li:first-child {
  font-weight: 700;
  margin-bottom: 0.7em;
}
.footer-list li {
  font-size: 0.8em;
}
.footer-list a {
  color: hsl(0, 0%, 63%);
  transition-property: color;
  transition-duration: 0.2s;
}
.footer-list a:hover {
  color: hsl(180, 66%, 49%);
}

.attribution {
  margin-top: 5em;
  font-size: 0.8em;
  text-align: center;
}
.attribution a {
  color: hsl(180, 66%, 49%);
}
.attribution a:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  /* ################ header ################ */
  header .container {
    justify-content: stretch;
    gap: 2.5em;
  }
  header .container nav {
    flex: 1 0 auto;
  }
  #toggle-button {
    display: none;
  }
  #navList {
    position: static;
    background: none;
    padding: 0;
    flex-direction: row;
    align-items: baseline;
    gap: 1.5em;
  }
  #navList a {
    color: hsl(0, 0%, 63%);
    transition: color 0.3s;
    font-size: 0.8em;
  }
  #navList a:hover {
    color: hsl(260, 8%, 14%);
  }
  #navList .btn {
    padding-inline: 1.5em;
  }
  #navList li {
    flex-grow: 0;
    flex-shrink: 0;
  }
  #navList .filler {
    border: 0;
    margin: 0;
    flex-grow: 100;
  }
  #navList[data-visible=false] {
    opacity: 1;
    pointer-events: all;
  }
  /* ################ main, footer ################ */
  main, footer {
    text-align: left;
  }
  /* ################ intro ################ */
  #intro {
    -webkit-padding-before: 2em;
            padding-block-start: 2em;
  }
  #intro .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #intro .content {
    margin-top: 4.5em;
    width: 60%;
    flex-basis: 60%;
  }
  #intro .img-container {
    width: 40%;
    flex-basis: 40%;
  }
  #intro h1 {
    font-size: 4em;
    margin-bottom: 0;
    letter-spacing: -3px;
  }
  #intro p {
    font-size: 1.05em;
  }
  #intro img {
    max-width: 9999px;
  }
  /* ################ advanced ################ */
  #features {
    -webkit-padding-after: 13em;
            padding-block-end: 13em;
  }
  #features h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
  }
  #cards {
    flex-direction: row;
    gap: 2em;
  }
  #cards .line {
    height: 8px;
    width: 100%;
    top: calc(70% - 4px);
    left: 0;
  }
  .card .icon {
    left: 4em;
  }
  .card:nth-child(3) {
    transform: translateY(3em);
  }
  .card:nth-child(4) {
    transform: translateY(6em);
  }
  /* ################ boost ################ */
  #boost {
    padding-block: 3.5em;
    gap: 1.7em;
    background-image: url("../images/bg-boost-desktop.svg");
  }
  #boost h2 {
    font-size: 1.9em;
  }
  /* ################ footer ################ */
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .lists {
    margin: 0;
    flex-direction: row;
    align-items: start;
    gap: 5em;
  }
}/*# sourceMappingURL=index.css.map */