@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);

$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

$gray: hsl(0, 0%, 75%);
$gray-text: hsl(0, 0, 63%);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* ################ Default ################ */
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $very-dark-violet;
  line-height: 1.14;
  font-weight: 700;
}

p {
  color: $gray-text;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

/* ################ Utility Classes ################ */
.container {
  max-width: 1100px;
  margin-inline: auto;
}

.gray-text {
  color: $gray;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.section-padding {
  padding-inline: min(8vw, 3em);
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  background: none;

  border-radius: 1.5em;
  padding-block: 0.7em;
  padding-inline: 2em;

  text-align: center;
  font-weight: 700;
  transition-property: background-color, color;
  transition-duration: 0.2s;

  cursor: pointer;
}
.primary-btn {
  background-color: $cyan;
  color: white !important;
}
.primary-btn:hover {
  background-color: hsl(180, 66%, 70%);
}
.secondary-btn {
  background-color: $very-dark-violet;
  color: white;
}
.secondary-btn:hover {
  background-color: $very-dark-blue;
}

.remove-btn {
  font-size: 1.5em;
  display: block;
  outline: 0;
  border: 0;
  background: none;
  color: $gray-text;
  cursor: pointer;
  transition: color .2s;
}
.remove-btn:hover {
  color: $red;
}

.field {
  border: 0;
  outline: 0;
  border-radius: 5px;
  display: block;
  padding-block: 0.7em;
  width: 100%;
}
.field::placeholder {
  color: $gray-text;
}

.spinner {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: white white transparent transparent;

  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ################header################ */
header {
  height: 130px;
  position: relative;
  z-index: 9999;

  .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

/* ################nav################ */
#toggle-button {
  outline: 0;
  border: 0;
  background: none;

  width: 35px;
  aspect-ratio: 1;

  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140% 190%;
}

#navList {
  position: absolute;
  top: 80%;
  left: 7%;
  right: 7%;

  background-color: $dark-violet;
  border-radius: 10px;
  padding-block: 2em;
  padding-inline: 1.4em;

  flex-direction: column;

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;

  li {
    text-align: center;
  }

  .filler {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-block: 1em;
  }

  a {
    display: block;
    color: white;
    padding-block: 0.8em;
    font-weight: 700;
    font-size: 1em;
  }

  .btn {
    padding: 0.5em;
  }
}
#navList[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}

/* ################ main, footer ################ */
main,
footer {
  text-align: center;
}

/* ################ intro ################ */
#intro {
  padding-block-end: 4em;

  .content {
    margin-top: 1.5em;

    .btn {
      margin-top: 1.6em;
    }
  }

  h1 {
    font-size: 2.3em;
    height: min-content;
    margin-bottom: 0.3em;
  }

  p {
    max-width: 500px;
    margin-inline: auto;
  }

  img {
    max-width: 150%;
  }
}

/* ################ shorten-link ################ */
/* ################ shorten-link ################ */
/* ################ shorten-link ################ */
/* ################ shorten-link ################ */
#shorten {
  background: linear-gradient(to bottom, white 80px, hsl(0, 0, 95%) 80px);  

  .top-part {
    padding: 1.3em;
    border-radius: 0.5em;
    margin-bottom: 1em;

    background-color: $dark-violet;
    background-image: url("../images/bg-shorten-mobile.svg");
    background-position: top right;
    background-repeat: no-repeat;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field,
    .btn {
      height: 50px;
    }
    .field {
      padding: 1em;
      font-size: .9em;
    }
    .btn {
      font-size: 1em;
    }
    .field:disabled,
    .btn:disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }

  .field,
  .btn {
    border-radius: 0.4em;
  }

  .error-message {
    color: $red;
    font-size: 0.7em;
    text-align: left;
    margin: 0.3em 0 0;
    font-style: italic;
  }

  .field.empty {
    border: 3px solid $red;
  }
  .field.empty::placeholder {
    color: $red;
  }

  .links-container {
    padding-block: 2em;
  }

  .list-of-links {
    > * + * {
      margin-top: 2em;
    }
  }
}
.link {
  background-color: white;
  border-radius: 0.3em;
  text-align: left;
  font-size: 0.9em;
  font-weight: 700;

  > * {
    padding: 1em;
  }

  a {
    display: block;
    word-wrap: break-word;
  }
  a:hover {
    text-decoration: underline;
  }

  .long {
    border-bottom: 1px solid $gray;

    a {
      color: $very-dark-violet;
    }
  }
  .short {
    a {
      color: $cyan;
      margin-bottom: 0.7em;
    }

    .buttons {
      display: flex;
      gap: 1em;
    }
  }

  .btn {
    width: 100%;
    padding-block: 0.9em;
    font-size: .9em;
  }
  .btn.copied {
    background-color: $very-dark-blue;
  }
}

/* ################ advanced statistics ################ */
#features {
  padding-block: 4em;
  background-color: hsl(0, 0, 95%);

  .top {
    margin-bottom: 6em;

    p {
      font-size: 0.9em;
      max-width: 450px;
      margin-inline: auto;
    }
  }

  h2 {
    margin-bottom: 0.7em;
  }
}
#cards {
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: relative;

  .line {
    position: absolute;
    height: 100%;
    width: 8px;
    left: calc(50% - 4px);
    background-color: $cyan;
  }
}

.card {
  background: white;
  padding-block-start: 4em;
  padding-block-end: 2em;
  padding-inline: 1.6em;
  border-radius: 0.4em;
  max-width: 500px;
  margin-inline: auto;

  position: relative;
  .icon {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);

    background-color: $dark-violet;
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    margin-bottom: 1em;
  }

  p {
    font-size: 0.8em;
  }
}

/* ################ boost section ################ */
#boost {
  background-color: $dark-violet;
  background-image: url("../images/bg-boost-mobile.svg");
  background-size: 100% 100%;

  padding-block: 6em;

  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  h2 {
    color: white;
    font-size: 1.5em;
  }
}

/* ################ footer ################ */
footer {
  background-color: hsl(0, 0, 10%);
  color: white;
  padding-block: 4em;

  .logo {
    img {
      filter: brightness(10);
    }
  }

  .lists {
    margin-block: 2em;
    flex-direction: column;
    gap: 2em;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    a:hover {
      img {
        filter: sepia() saturate(100000%) hue-rotate(90deg);
      }
    }
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.6em;

  li:first-child {
    font-weight: 700;
    margin-bottom: 0.7em;
  }
  li {
    font-size: 0.8em;
  }

  a {
    color: $gray-text;
    transition-property: color;
    transition-duration: 0.2s;
  }
  a:hover {
    color: $cyan;
  }
}

.attribution {
  margin-top: 5em;
  font-size: 0.8em;
  text-align: center;

  a {
    color: $cyan;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  /* ################ header ################ */
  header {
    .container {
      justify-content: stretch;
      gap: 2.5em;

      nav {
        flex: 1 0 auto;
      }
    }
  }

  #toggle-button {
    display: none;
  }

  #navList {
    position: static;
    background: none;
    padding: 0;

    flex-direction: row;
    align-items: baseline;
    gap: 1.5em;

    a {
      color: $gray-text;
      transition: color 0.3s;
      font-size: 0.8em;
    }
    a:hover {
      color: $very-dark-violet;
    }

    .btn {
      padding-inline: 1.5em;
    }

    li {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .filler {
      border: 0;
      margin: 0;
      flex-grow: 100;
    }
  }
  #navList[data-visible="false"] {
    opacity: 1;
    pointer-events: all;
  }

  /* ################ main, footer ################ */
  main,
  footer {
    text-align: left;
  }

  /* ################ intro ################ */
  #intro {
    padding-block-start: 2em;

    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .content {
      margin-top: 4.5em;
      width: 60%;
      flex-basis: 60%;
    }

    .img-container {
      width: 40%;
      flex-basis: 40%;
    }

    h1 {
      font-size: 4em;
      margin-bottom: 0;
      letter-spacing: -3px;
    }

    p {
      font-size: 1.05em;
      margin-inline: 0;
    }

    img {
      max-width: 9999px;
    }
  }

  /* ################ shorten ################ */
  #shorten {
    .top-part {
      padding: 3em;
      background-image: url('../images/bg-shorten-desktop.svg');
    }

    form {
      flex-direction: row;

      .field,
      .btn {
        height: 60px;
        font-size: 1.1em;
      }

      .field-container {
        flex-grow: 1;
      }
      .btn {
        flex-basis: 180px;
      }
    }

    .error-message {
      font-size: .8em;
    }
  }
  .link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.05em;

    > * {
      padding: 1.3em;
    }

    .long {
      border: 0;
      word-break: break-all;
    }

    .short {
      display: flex;
      align-items: baseline;
      gap: min(2vw, 1.5em);

      a {
        margin: 0;
      }
    }

    .btn {
      padding-block: .65em;
      padding-inline: 0;
      width: 120px;
      font-size: 1em;
    }
  }

  /* ################ features ################ */
  #features {
    padding-block-end: 13em;

    h2 {
      font-size: 2em;
      margin-bottom: 0.3em;
    }
  }

  #cards {
    flex-direction: row;
    gap: 2em;

    .line {
      height: 8px;
      width: 100%;
      top: calc(70% - 4px);
      left: 0;
    }
  }

  .card {
    font-size: 1.1em;
    padding-block-end:30px;

    .icon {
      left: 4em;
    }
  }

  #cards {
    .card:nth-of-type(2) {
      transform: translateY(3em);
    }
    .card:nth-of-type(3) {
      transform: translateY(6em);
    }
  }

  /* ################ boost ################ */
  #boost {
    padding-block: 3.5em;
    gap: 1.7em;

    background-image: url("../images/bg-boost-desktop.svg");

    h2 {
      font-size: 1.9em;
    }
  }

  /* ################ footer ################ */
  footer {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .lists {
      margin: 0;

      flex-direction: row;
      align-items: start;
      gap: 5em;
    }
  }
}
